.addList-input{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.addList-input  input{
    padding: 5px 15px;
    border: 1px solid #1ea5ff;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
    height: 25px;
}

.addList-input div{
    background: #1ea5ff;
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    border-radius: 0 2px 2px 0;
    width: 100px;
    font-size: 14px;
    color: white;
}